<ion-content padding havePopup income>

  <div class="form-content">
    <h3 text-center>Edit Ledger</h3>
    <ion-list lines="none" login-form-list mode="ios">
      <div class="dropdown">
        <ion-item>
          <ion-label position="stacked">Add New Tag</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-button drop-down graygradiantbtn mode="ios">
          <img src="assets/imgs/down-arrow-gray.svg" alt="">
        </ion-button>
      </div>

      <ion-item checkbox mode="ios">
        <ion-label>Software</ion-label>
        <ion-checkbox mode="ios" slot="end" checked="true"></ion-checkbox>
      </ion-item>

      <ion-item checkbox mode="ios">
        <ion-label>Client Purchase</ion-label>
        <ion-checkbox mode="ios" slot="end"></ion-checkbox>
      </ion-item>
      <ion-item checkbox mode="ios">
        <ion-label>Office Supply</ion-label>
        <ion-checkbox mode="ios" slot="end" checked="true"></ion-checkbox>
      </ion-item>

      <ion-item checkbox mode="ios">
        <ion-label>Travel</ion-label>
        <ion-checkbox mode="ios" slot="end"></ion-checkbox>
      </ion-item>
      <ion-item checkbox mode="ios">
        <ion-label>Luxury</ion-label>
        <ion-checkbox mode="ios" slot="end" checked="true"></ion-checkbox>
      </ion-item>

      <ion-item checkbox mode="ios">
        <ion-label>Food</ion-label>
        <ion-checkbox mode="ios" slot="end"></ion-checkbox>
      </ion-item>

    </ion-list>

    <div class="button-container">
      <ion-button lightgray button-custom no-outer-shadow text-uppercase>
        <img src="assets/imgs/btn-tags.svg" img-left alt=""> Save Tags</ion-button>
    </div>
  </div>
</ion-content>
<ion-footer no-border mode="md">
  <ion-toolbar color="dark" mode="md">
    <ion-buttons slot="start">
      <ion-button fill="clear" mode="ios" text-uppercase color="light" routerLink="/add-income">« Cancel and go Back
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <div class="bar-logo">
        <img src="assets/imgs/logo-small.svg" alt="">
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>