page-login {
  .form-content {
    background: $dark;
    padding: 16px;
    -webkit-box-shadow: $form_shadow;
    box-shadow: $form_shadow;
    border-radius: 10px;
    min-height: 76vh;
    h3 {
      color: $white;
      font-size: 3rem;
      padding: 1rem 0 .5rem;
      margin: 0;
      span {
        color: $link_color;
      }
    }
    .create-account {
      height: 30vh;
      margin-top: 1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      p {
        margin: 0;
        color: $white;
        font-size: 1.6rem;
      }
      button {
        font-size: 1.6rem;
        max-height: 20px;
      }
    }
  }
}
