<ion-row *ngFor="let row of ledgers" [ngClass]="{ 'danger': (row.Amount < 0) }">
	<ion-col size="2">
		<p class="date">
			<small>{{ row.Date | date:'MMM dd' }}</small>
			<br>{{ row.Date | date:'yyyy' }}</p>
	</ion-col>
	<ion-col size="6" class="size-sm">
		<p class="vendor">
			<span *ngIf="row.Contact.Name">{{ row.Contact.Name }}</span>
			<span *ngIf="! row.Contact.Name">{{ row.Contact.FirstName }} {{ row.Contact.LastName }}</span>
			<br>
			<a>
				<small>{{ row.Category.Name }}</small>
			</a>
		</p>
	</ion-col>
	<ion-col text-right>
		<div class="amount">{{ row.Amount | currency }}</div>
	</ion-col>
</ion-row>

<ion-row *ngIf="(! lastPage) && (ledgers.length > 0)">
	<ion-col size="12">
		<ion-button expand="block" fill="outline" color="medium" size="small" (click)="loadMoreData()">Load More...</ion-button>
	</ion-col>
</ion-row>
