<ion-content>
  <div class="header">
    Select an Account
  </div>
  <ion-list lines="none" mode="ios">
    <ion-item routerLink="/overview">
      <ion-label>
        <h2>Business is Booming</h2>
      <p>http://wambam.skyclerk.com</p>
      </ion-label>
      <img slot="end" src="assets/imgs/arrow.svg" alt="">
    </ion-item>
    <ion-item routerLink="/overview">
      <ion-label>
        <h2>All About the Benjamins</h2>
      <p>http://allaboutthebenjamins.skyclerk.com</p>
      </ion-label>
      <img slot="end" src="assets/imgs/arrow.svg" alt="">
    </ion-item>
    <ion-item routerLink="/overview">
      <ion-label>
        <h2>Personal Account</h2>
      <p>http://myliferocks.skyclerk.com</p>
      </ion-label>
      <img slot="end" src="assets/imgs/arrow.svg" alt="">
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer no-border mode="md">
  <ion-toolbar color="dark" mode="md">
    <ion-buttons slot="end">
      <div class="bar-logo">
        <img src="assets/imgs/logo-small.svg" alt="">
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
