page-overview {
  ion-header {
    &.header {
      ion-toolbar {
        &.toolbar {
          padding: 0;
          ion-scroll {
            .scroll-content {
              ion-segment {
                &.segment {
                  padding: 0 !important;
                  height: 30px !important;
                  position: static;
                  min-height: inherit !important;
                  .segment-button {
                    max-width: inherit;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .ledgers {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 44px 0;
    .table-header {
      height: 44px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    .scroll-tabel-content {
      position: absolute;
      height: calc(100% - 88px);
      width: 100%;
      overflow: auto;
    }
    .footer {
      position: absolute;
      bottom: -2px;;
      left: 0;
      height: 46px;
      width: 100%;
      margin: 0;
      border: none;
    }
  }
  .headerbg {
    background: $bg_pattern;
    padding: .6rem 0;
    button {
      &.button {
        font-size: 1.6rem;
        min-height: 50px;
        img {
          margin-right: 5px;
        }
      }
    }
    ion-list {
      &[login-form-list] {
        margin: 0;
        .dropdown {
          margin: 1.1rem 1rem;
          .button {
            min-height: 46px;
            img {
              height: 30px;
              max-width: inherit;
            }
          }
        }
        ion-item {
          &.item {
            .item-inner {
              ion-input {
                margin: 0;
                &.input {
                  input {
                    min-height: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  ion-footer {
    ion-buttons {
      &[start] {
        button {
          color: $white;
          font-size: 1.4rem;
          text-shadow: $t_shadow;
          padding: 0 1.8rem;
          border-radius: 4px;
          &.gray {
            background: $gray_light;
          }
          &.danger {
            background: $danger_light;
          }
          &.success {
            background: $success_light;
          }
        }
      }
    }
  }
  ion-grid {
    &[search] {
      &.grid {
        ion-row {
          padding: 0 10px;
          ion-col {
            padding: 10px 5px;
            button {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
    &.grid {
      padding: 0;
      ion-row {
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        margin-top: -1px;
        ion-col {
          padding: 12px;
          p {
            margin: 0;
            &.date {
              font-weight: 500;
              font-size: 1.5rem;
            }
            &.vendor {
              color: #606060;
              a {
                font-size: 1.6rem;
                color: #1181c3;
              }
            }
          }
          .amount {
            position: relative;
            overflow: hidden;
            -webkit-box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.004), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
            box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.004), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
            background-color: rgb(234, 234, 234);
            max-width: 100px;
            width: 100%;
            display: inline-block;
            border-radius: 4px;
            font-weight: 600;
            font-size: 1.6rem;
            padding: 7px 15px 7px 5px;
            text-align: right;
            text-shadow: $t_shadow_white;
            color: #606060;
            &:before {
              position: absolute;
              content: '';
              right: -8px;
              height: 16px;
              width: 16px;
              background: #698451;
              border-radius: 50%;
              top: 50%;
              margin-top: -8px;
            }
          }
        }
        &.warning {
          ion-col {
            .amount {
              color: $segment_bg;
              background: #ded8ad;
            }
          }
        }
        &.danger {
          ion-col {
            .amount {
              color: #b7433f;
              &:before {
                background: #b7433f;
              }
            }
          }
        }
        &:nth-child(odd) {
          background: $t_odd;
          &.warning {
            background: #f5f1d9;
          }
          &.danger {
            background: #fff1f1;
          }
        }
        &.table-header {
          background: $t_head;
          font-weight: 600;
          text-shadow: $t_shadow_white;
        }
        &.footer {
          background: $dark_light;
          p {
            text-shadow: $t_shadow;
            color: #8c8c8c;
            font-weight: 600;
            font-size: 1.6rem;
            &.total-amount {
              color: $white;
            }
          }
        }
      }
    }
  }
  .attachment-content {
    height: 68vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 3rem;
    .content {
      p {
        font-size: 1.6rem;
        font-weight: 600;
      }
      button {
        &.button {
          min-height: 46px;
          font-size: 1.4rem;
        }
      }
    }
  }
  .search-result {
    background-color: rgb(35, 35, 35);
    box-shadow: inset 0px 6px 5px 0px rgba(0, 0, 0, 0.27);
    color: #959595;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1.5rem 0;
    p {
      margin: 0;
      color: $white;
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
}
