<ion-content padding income>

	<div class="form-content">
		<h3 text-center>
			Add Your Account</h3>
		<ion-list lines="none" login-form-list mode="ios">


			<ion-item>
				<ion-label position="stacked">Email Address *</ion-label>
				<ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="stacked">Password *</ion-label>
				<ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
			</ion-item>

		</ion-list>

		<ion-button button-light button-custom expand="block" size="large" mode="ios" (click)="doLogin()">
			<img img-left src="assets/imgs/plus.svg" alt="">
			Add Your Skyclerk Account
		</ion-button>

		<div class="create-account" text-center>
			<div class="text">
				<p>Don’t have an account?</p>
				<ion-button expand="block" fill="clear" size="small" mode="ios" color="link" routerLink="/register">Register for a Skyclerk account now!</ion-button>
			</div>
		</div>
	</div>

</ion-content>

<ion-footer no-border mode="md">
	<ion-toolbar color="dark" mode="md">
		<ion-buttons slot="start">
			<ion-button fill="clear" mode="ios" text-uppercase color="light" routerLink="/intro" routerDirection="back">
				« Cancel and go Back
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<div class="bar-logo">
				<img src="assets/imgs/logo-small.svg" alt="">
			</div>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
