<ion-content bgdark>
	<div class="logo-content">
		<div class="content">
			<div class="logo">
				<img src="assets/imgs/logo.svg" alt="">
			</div>
			<ion-button button-light button-custom size="large" expand="block" large mode="ios" routerLink="/login"><img img-left src="assets/imgs/plus.svg" alt=""> Add Your Skyclerk Account</ion-button>
		</div>
	</div>
	<div class="create-account">
		<div class="content" text-center>
			<p> Don’t have an account?</p>
			<ion-button expand="block" fill="clear" size="small" mode="ios" color="link" routerLink="/create-account">Register for SkyClerk now!</ion-button>
		</div>
	</div>

</ion-content>
