<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios" class="header-pettern-bg">
    <ion-row>
      <ion-col size="12">
        <ion-button button-success button-custom expand="block" no-outer-shadow text-uppercase routerLink="/upload-receipt">
          <img src="assets/imgs/upload.svg" alt=""> UPLOAD YOUR FIRST RECEIPT</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar segment-toolbar color="dark" mode="ios">
    <ion-segment scrollable color="medium" [(ngModel)]="tabs" mode="ios">
      <ion-segment-button mode="ios" value="ledgers">
        Ledgers
      </ion-segment-button>
      <ion-segment-button mode="ios" value="snapcheck">
        Snap!Clerk
      </ion-segment-button>
      <ion-segment-button mode="ios" value="search">
        Search
      </ion-segment-button>
      <ion-segment-button mode="ios" value="logout">
        Logout
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content snapclerk>
  <div [ngSwitch]="tabs">
    <div *ngSwitchCase="'ledgers'">
      <h1>Ledgers</h1>
    </div>
    <div *ngSwitchCase="'snapcheck'">
      <ion-list lines="full" mode="ios">
        <ion-item-divider text-center mode="ios">
          <ion-label text-center>
            Basic Item Divider
          </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let r of receipts" mode="ios">
          <ion-thumbnail slot="start">
            <img src="assets/imgs/{{r.img}}">
          </ion-thumbnail>
          <ion-label slot="start" class="date">
            <strong>{{r.dm}}</strong> <br>
            {{r.year}}
          </ion-label>
          <ion-label>
            <h2>{{r.title}}</h2>
            <p>{{r.cate}}</p>
          </ion-label>
          <ion-button mode="ios" size="small" color="success" slot="end">Processed</ion-button>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'search'">
      <h1>Search</h1>
    </div>
    <div *ngSwitchCase="'accounts'">
      <h1>Accounts</h1>
    </div>
  </div>
</ion-content>
<ion-footer no-border mode="md">
  <ion-toolbar color="dark" mode="md">
    <ion-buttons slot="end">
      <div class="bar-logo">
        <img src="assets/imgs/logo-small.svg" alt="">
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>