<ion-content bgdark>

	<div class="section-update-plan">
		<div class="section__body">



			<div class="section__aside">

				<div class="updates">
					<div class="updates__head">
						<h2>Skyclerk Upgrade</h2>
					</div>

					<div class="updates__body">
						<ul>
							<li>
								<img src="assets/imgs/ico-updates@2x.png" alt="ico-updates">

								<h5><strong>Unlimited</strong> Transactions</h5>
							</li>

							<li>
								<img src="assets/imgs/ico-updates@2x.png" alt="ico-updates">

								<h5><strong>Unlimited</strong> Contacts</h5>
							</li>

							<li>
								<img src="assets/imgs/ico-updates@2x.png" alt="ico-updates">

								<h5><strong>Unlimited</strong> Storage</h5>
							</li>

							<li>
								<img src="assets/imgs/ico-updates@2x.png" alt="ico-updates">

								<h5><strong>100</strong> Snap!Clerks / Month</h5>
							</li>
						</ul>
					</div>
				</div>

			</div>


			<div class="upgrade-buttons">
				<ion-button button-success button-custom expand="block" no-outer-shadow text-uppercase>
					Choose Monthly - $5.99
				</ion-button>

				<ion-button button-success button-custom expand="block" no-outer-shadow text-uppercase class="yearly">
					Choose Yearly - $59.99
				</ion-button>
			</div>

			<p><b>It's Time To Choose a Plan</b></p>
			<p>We hope you’ve enjoyed Skyclerk!</p>

		</div>

		<!-- <div class="section__foot">
			<p>If you wish to cancel your account, click here. If you have any questions please contact us.</p>

			<a (click)="closeAccount()" class="btn btn-red btn-xlarge">CANCEL ACCOUNT</a>
		</div> -->
	</div>

	<!-- <div class="logo-content">
		<div class="content">
			<div class="logo">
				<img src="assets/imgs/logo.svg" alt="">
			</div>

			<ion-text color="light">
				<h3>Has Skyclerk changed the way you do bookkeeping?</h3>

				<h5>We hope you’ve enjoyed using Skyclerk for free!</h5>
			</ion-text>

			<ion-button button-light button-custom size="large" expand="block" large mode="ios" routerLink="/login"><img img-left src="assets/imgs/plus.svg" alt=""> Add Your Skyclerk Account</ion-button>
		</div>
	</div> -->

	<!-- <div class="create-account">
		<div class="content" text-center>
			<p> Don’t have an account?</p>
			<ion-button expand="block" fill="clear" size="small" mode="ios" color="link" routerLink="/register">Register for SkyClerk now!</ion-button>
		</div>
	</div> -->

</ion-content>
