<ion-content bgdark>

	<div class="section-update-plan">
		<div class="section__body">


			<div class="section__aside">

				<div class="updates">
					<div class="updates__head">
						<h2>Skyclerk Upgrade</h2>
					</div>

					<div class="updates__body">
						<ul>
							<li>
								<img src="assets/imgs/ico-updates@2x.png" alt="ico-updates">

								<h5><strong>Unlimited</strong> Transactions</h5>
							</li>

							<li>
								<img src="assets/imgs/ico-updates@2x.png" alt="ico-updates">

								<h5><strong>Unlimited</strong> Contacts</h5>
							</li>

							<li>
								<img src="assets/imgs/ico-updates@2x.png" alt="ico-updates">

								<h5><strong>Unlimited</strong> Storage</h5>
							</li>

							<li>
								<img src="assets/imgs/ico-updates@2x.png" alt="ico-updates">

								<h5><strong>100</strong> Snap!Clerks / Month</h5>
							</li>
						</ul>
					</div>
				</div>

			</div>


			<div class="upgrade-buttons">
				<ion-button button-success button-custom expand="block" no-outer-shadow text-uppercase (click)="monthlyClick()">
					Choose Monthly - {{ monthyPrice }}
				</ion-button>

				<ion-button button-success button-custom expand="block" no-outer-shadow text-uppercase class="yearly" (click)="yearlyClick()">
					Choose Yearly - {{ yearlyPrice }}
				</ion-button>
			</div>

			<p><b>It's Time To Choose a Plan</b></p>
			<p>We hope you’ve enjoyed Skyclerk!</p>

		</div>

	</div>

</ion-content>
