// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #065182,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #141414,
  darkgray:(
    base:#2c2c2c,
    contrast: #ffffff
  ),
  link:(
    base:#b2d6ec,
    contrast: #065182
  )
);

// Colors
$primary:#065182;
$lblue:#1181c3;
$dark:#141414;
$darkgray:#242424;
$bgdarkgray:#404040;
$darkgray_border:#393939;
$text_gray:#bcbcbc;
$text_lgray:#b7b7b7;
$focus:#d8e9f0;
$white:#fff;
$link_color:#b2d6ec;
$border:#cbcbcb;
$item_bg:#f5f5f5;
$alt_item_bg:#eaeaea;
$segment_bg:#272727;
$segment_border:#343434;
$segment_color:#808080;
$segment_active_color:#cccccc; 
$segment_active_bg_color:#4a4a4a;
$t_head:#cdcdcd;
$t_odd:#f7f7f7;
// Gradiant
$light_gradiant:linear-gradient( 0deg, rgb(150,154,157) 0%, rgb(226,228,230) 100%);
$success_gradiant:linear-gradient( 0deg, rgb(92,136,44) 0%, rgb(117,160,74) 100%);
$danger_gradiant:linear-gradient( 0deg, rgb(123,38,36) 0%, rgb(150,49,45) 100%);
$danger_light:linear-gradient( 0deg, rgb(167,54,50) 0%, rgb(189,71,67) 100%);
$gray_light:linear-gradient( 0deg, rgb(75,75,75) 0%, rgb(96,100,104) 100%);
$success_light:linear-gradient( 0deg, rgb(103,130,80) 0%, rgb(119,150,92) 100%);
$dark_light:linear-gradient( 0deg, rgb(0,0,0) 0%, rgb(38,38,38) 100%);
$light_gradiant:linear-gradient( 0deg, rgb(147,147,147) 0%, rgb(195,195,195) 100%);
$primary_gradiant:linear-gradient( 0deg, rgb(46,117,158) 0%, rgb(63,151,203) 100%);

// Shadows
$t_shadow:0px 1px 0px rgba(0, 0, 0, 0.45);
$t_shadow_white: 0px 1px 0px rgba(255, 255, 255, 0.4);
$form_shadow:0px 0px 16px 0px rgba(0, 0, 0, 0.75),inset 0px 30000px 5px 0px rgba(255, 255, 255, 0.03);
$input_shdow:0px 2px 0px 0px rgba(255, 255, 255, 0.004),inset 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
$boxshadow: 0px 2px 0px 0px rgba(146, 41, 38, 0.004);

// Pettern
$bg_pattern:url(../assets/imgs/bg-pettern.jpg);




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
