<ion-content>
  <div class="image-container">
    <img src="assets/imgs/img.png" alt="">
    <div class="image-name">pfchangs_09-02-2010.png</div>
  </div>
</ion-content>
<ion-footer no-border mode="md" overview>
  <ion-toolbar color="dark" mode="md" text-center>
    <ion-buttons slot="start">
      <ion-button routerLink="/overview" class="gray">« Back</ion-button>
      <ion-button class="success">Re-Assign</ion-button>
      <ion-button class="danger">Delete</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>