ion-content {
    &[bgdark] {
      background-color: $dark;
    }
    &[bgdarkgray] {
      background-color: $bgdarkgray;
    }
  }
  
  .bar-buttons-md {
    &[start] {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
    }
  }
  
  button {
    &[button-custom] {
      &.button {
        border-radius: 6px;
        font-size: 1.8rem;
        min-height: 60px;
        font-weight: 400;
        height: auto;
        img {
          height: 24px;
          &[img-left] {
            margin-right: 1rem;
          }
          &[img-right] {
            margin-left: 1rem;
          }
        }
        &[button-light] {
          background-image: -moz-$light_gradiant;
          background-image: -webkit-$light_gradiant;
          background-image: -ms-$light_gradiant;
          background-image: $light_gradiant;
          -webkit-box-shadow: inset 0px 1px 0px 0px rgba(229, 255, 204, 0.2), 0px 0px 16px 0px rgba(255, 255, 255, 0.28);
          box-shadow: inset 0px 1px 0px 0px rgba(229, 255, 204, 0.2), 0px 0px 16px 0px rgba(255, 255, 255, 0.28);
          border: 2px solid $dark;
          border: 2px solid $dark;
          color: $primary;
        }
        &[button-success] {
          background-image: -moz-$success_gradiant;
          background-image: -webkit-$success_gradiant;
          background-image: -ms-$success_gradiant;
          background-image: $success_gradiant;
          border: 2px solid $dark;
          -webkit-box-shadow: inset 0px 1px 0px 0px rgba(229, 255, 204, 0.2), 0px 0px 16px 0px rgba(255, 255, 255, 0.28);
          box-shadow: inset 0px 1px 0px 0px rgba(229, 255, 204, 0.2), 0px 0px 16px 0px rgba(255, 255, 255, 0.28);
          border: 2px solid $dark;
          color: $primary;
          color: $white;
        }
        &[button-danger] {
          background-image: -moz-$danger_gradiant;
          background-image: -webkit-$danger_gradiant;
          background-image: -ms-$danger_gradiant;
          background-image: $danger_gradiant;
          -webkit-box-shadow: inset 0px 1px 0px 0px rgba(229, 255, 204, 0.2), 0px 0px 16px 0px rgba(255, 255, 255, 0.28);
          box-shadow: inset 0px 1px 0px 0px rgba(229, 255, 204, 0.2), 0px 0px 16px 0px rgba(255, 255, 255, 0.28);
          border: 2px solid $dark;
          color: $primary;
          color: $white;
        }
        &[lightgray] {
          background: $light_gradiant;
          box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.32);
          border: 2px solid $dark;
          color: $white;
        }
        &[button-primary] {
          background:$primary_gradiant;
          box-shadow: 0px 4px 0px 0px rgba(22, 88, 126, 0.004),inset 0px 2px 0px 0px rgba(255, 255, 255, 0.32);
          border: 2px solid rgb(45, 109, 146);
          color: $white;
        }
        
        &[no-shadow] {
          box-shadow: none;
        }
        &[no-outer-shadow] {
          box-shadow: inset 0px 1px 0px 0px rgba(229, 255, 204, 0.2);
        }
        &[text-large] {
          font-size: 2.6rem;
        }
      }
    }
    &[graygradiantbtn] {
      &.button {
        background: -webkit-gradient( linear, left bottom, left top, from(rgb(91, 91, 91)), to(rgb(143, 143, 143)));
        background: linear-gradient( 0deg, rgb(91, 91, 91) 0%, rgb(143, 143, 143) 100%);
        -webkit-box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.45), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
        box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.45), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
        img {
          height: 24px;
          margin-top: 3px;
        }
      }
    }
  }
  
  ion-scroll {
    &[scrolltabs] {
      min-height: 52px;
      background: $segment_bg;
      border-top: 1px solid $segment_border;
      .scroll-content {
        min-height: 52px;
        padding: 10px 5px !important;
        &::-webkit-scrollbar {
          display: none;
        }
        ion-segment {
          display: block;
          white-space: nowrap;
          width: auto;
          height: 30px;
          ion-segment-button {
            display: inline-block;
            width: auto;
            padding: 0 10px;
            border: none;
            margin: 0 5px;
            text-shadow: $t_shadow;
            color: $segment_color;
            font-size: 1.6rem;
            font-weight: 600;
            border-radius: 5px !important;
            &.segment-activated {
              background: $segment_active_bg_color;
              color: $segment_active_color;
            }
          }
        }
      }
    }
  }
  
  .dropdown {
    position: relative;
    padding-right: 60px;
    button {
      position: absolute;
      width: 50px;
      right: 0;
      bottom: 1px;
      margin: 0;
      height: 42px;
    }
  }
  
  .bar-logo {
    img {
      height: 20px;
      float: right
    }
  }
  
  ion-list {
    &[login-form-list] {
      margin: 0 0 2rem;
      ion-item {
        &.item {
          background: none;
          padding: 0;
          .item-inner {
            padding: 0;
            ion-label {
              font-size: 1.6rem;
              font-weight: 600;
              color: $text_gray;
            }
            ion-input {
              &.input {
                background: $white;
                border-radius: 5px;
                margin-top: 1rem; //   box-shadow: $input_shdow;
                input {
                  min-height: 26px;
                  padding-left: 16px;
                }
              }
            }
          }
          &.input-has-focus {
            .item-inner {
              ion-input {
                &.input {
                  background: $focus;
                }
              }
            }
          }
        }
      }
    }
  }
  