<ion-header mode="ios" no-border>
	<div [ngSwitch]="tabs">
		<ion-toolbar mode="ios" class="header-pettern-bg" *ngSwitchCase="'ledger'">
			<ion-row>
				<ion-col size="6">
					<ion-button button-success button-custom expand="block" no-outer-shadow text-uppercase routerLink="/add-income">
						<img src="assets/imgs/add-income-icon.svg" slot="start" alt=""> Add Income</ion-button>
				</ion-col>
				<ion-col size="6">
					<ion-button button-danger button-custom expand="block" no-outer-shadow text-uppercase routerLink="/add-expense">
						<img src="assets/imgs/add-expense-icon.svg" slot="start" alt=""> Add Expense</ion-button>
				</ion-col>
			</ion-row>
		</ion-toolbar>

		<ion-toolbar mode="ios" class="header-pettern-bg" *ngSwitchCase="'snapclerk'">
			<ion-row>
				<ion-col size="12">
					<ion-button button-success button-custom expand="block" no-outer-shadow text-uppercase routerLink="/upload-receipt">
						<img src="assets/imgs/upload.svg" alt=""> Upload New Receipt</ion-button>
				</ion-col>
			</ion-row>
		</ion-toolbar>

		<ion-toolbar mode="ios" class="header-pettern-bg" *ngSwitchCase="'search'">
			<ion-item custom-input-search lines="none">
				<ion-input type="text" placeholder="Search SkyClerk"></ion-input>
				<ion-button slot="end" drop-down graygradiantbtn mode="ios">
					<img src="assets/imgs/search.svg" alt="">
				</ion-button>
			</ion-item>
		</ion-toolbar>

	</div>

	<ion-toolbar segment-toolbar color="dark" mode="ios">
		<ion-segment scrollable color="medium" mode="ios" [(ngModel)]="tabs">
			<ion-segment-button mode="ios" value="ledger">
				Ledger
			</ion-segment-button>

			<ion-segment-button mode="ios" value="snapclerk">
				Snap!Clerk
			</ion-segment-button>

			<ion-segment-button mode="ios" value="search">
				Search
			</ion-segment-button>

			<ion-segment-button mode="ios" (click)="doLogout()">
				Settings
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>

</ion-header>


<ion-content>


	<div [ngSwitch]="tabs">
		<div *ngSwitchCase="'ledger'" class="ledgers">
			<ion-grid tableViewGrid>
				<ion-row class="table-header">
					<ion-col size="3">
						Date
					</ion-col>
					<ion-col size="4">
						Vendor
					</ion-col>
					<ion-col text-right>
						Amount
					</ion-col>
				</ion-row>

				<div class="scroll-tabel-content">
					<ion-row class="warning">
						<ion-col size="3">
							<p class="date">
								<small>Jul 22</small>
								<br>2012</p>
						</ion-col>
						<ion-col size="4">
							<p class="vendor">XYX Company
								<br>
								<a>
									<small>View & Edit</small>
								</a>
							</p>
						</ion-col>
						<ion-col text-right>
							<div class="amount">$4,225.00</div>
						</ion-col>
					</ion-row>
					<ion-row class="warning">
						<ion-col size="3">
							<p class="date">
								<small>Jul 22</small>
								<br>2012</p>
						</ion-col>
						<ion-col size="4">
							<p class="vendor">XYX Company
								<br>
								<a>
									<small>View & Edit</small>
								</a>
							</p>
						</ion-col>
						<ion-col text-right>
							<div class="amount">$4,225.00</div>
						</ion-col>
					</ion-row>

					<ion-row class="danger">
						<ion-col size="3">
							<p class="date">
								<small>Jul 22</small>
								<br>2012</p>
						</ion-col>
						<ion-col size="4">
							<p class="vendor">XYX Company
								<br>
								<a>
									<small>View & Edit</small>
								</a>
							</p>
						</ion-col>
						<ion-col text-right>
							<div class="amount">$-25.56</div>
						</ion-col>
					</ion-row>
					<ion-row class="danger">
						<ion-col size="3">
							<p class="date">
								<small>Jul 22</small>
								<br>2012</p>
						</ion-col>
						<ion-col size="4">
							<p class="vendor">XYX Company
								<br>
								<a>
									<small>View & Edit</small>
								</a>
							</p>
						</ion-col>
						<ion-col text-right>
							<div class="amount">$25.00</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col size="3">
							<p class="date">
								<small>Jul 22</small>
								<br>2012</p>
						</ion-col>
						<ion-col size="4">
							<p class="vendor">XYX Company
								<br>
								<a>
									<small>View & Edit</small>
								</a>
							</p>
						</ion-col>
						<ion-col text-right>
							<div class="amount">$25.00</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col size="3">
							<p class="date">
								<small>Jul 22</small>
								<br>2012</p>
						</ion-col>
						<ion-col size="4">
							<p class="vendor">XYX Company
								<br>
								<a>
									<small>View & Edit</small>
								</a>
							</p>
						</ion-col>
						<ion-col text-right>
							<div class="amount">$25.00</div>
						</ion-col>
					</ion-row>

					<ion-row class="danger">
						<ion-col size="3">
							<p class="date">
								<small>Jul 22</small>
								<br>2012</p>
						</ion-col>
						<ion-col size="4">
							<p class="vendor">XYX Company
								<br>
								<a>
									<small>View & Edit</small>
								</a>
							</p>
						</ion-col>
						<ion-col text-right>
							<div class="amount">$-25.56</div>
						</ion-col>
					</ion-row>
					<ion-row class="danger">
						<ion-col size="3">
							<p class="date">
								<small>Jul 22</small>
								<br>2012</p>
						</ion-col>
						<ion-col size="4">
							<p class="vendor">XYX Company
								<br>
								<a>
									<small>View & Edit</small>
								</a>
							</p>
						</ion-col>
						<ion-col text-right>
							<div class="amount">$25.00</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col size="3">
							<p class="date">
								<small>Jul 22</small>
								<br>2012</p>
						</ion-col>
						<ion-col size="4">
							<p class="vendor">XYX Company
								<br>
								<a>
									<small>View & Edit</small>
								</a>
							</p>
						</ion-col>
						<ion-col text-right>
							<div class="amount">$25.00</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col size="3">
							<p class="date">
								<small>Jul 22</small>
								<br>2012</p>
						</ion-col>
						<ion-col size="4">
							<p class="vendor">XYX Company
								<br>
								<a>
									<small>View & Edit</small>
								</a>
							</p>
						</ion-col>
						<ion-col text-right>
							<div class="amount">$25.00</div>
						</ion-col>
					</ion-row>
				</div>

				<ion-row class="footer">
					<ion-col col-7>
						<p text-uppercase>2012 Profit & Loss</p>
					</ion-col>

					<ion-col text-right>
						<p class="total-amount">+ $25,191.07</p>
					</ion-col>
				</ion-row>


			</ion-grid>
		</div>

		<!-- snapclerk -->
		<div *ngSwitchCase="'snapclerk'">
			<ion-list lines="full" mode="ios">
				<ion-item-divider text-center mode="ios">
					<ion-label text-center>
						Basic Item Divider
					</ion-label>
				</ion-item-divider>
				<ion-item *ngFor="let r of receipts" mode="ios">
					<ion-thumbnail slot="start">
						<img src="assets/imgs/{{r.img}}">
					</ion-thumbnail>
					<ion-label slot="start" class="date">
						<strong>{{r.dm}}</strong> <br>
						{{r.year}}
					</ion-label>
					<ion-label>
						<h2>{{r.title}}</h2>
						<p>{{r.cate}}</p>
					</ion-label>
					<ion-button mode="ios" size="small" color="success" slot="end">Processed</ion-button>
				</ion-item>
			</ion-list>
		</div>

		<!-- search -->
		<div *ngSwitchCase="'search'">
			<div class="search-result" text-center>
				Your Search Results for
				<p>“Office”</p>
			</div>
			<ion-grid search tableViewGrid>
				<ion-row class="table-header">
					<ion-col size="2">
						Date
					</ion-col>
					<ion-col size="4">
						Vendor
					</ion-col>
					<ion-col text-right>
						Amount
					</ion-col>
					<ion-col size="1"></ion-col>
				</ion-row>

				<ion-row class="danger">
					<ion-col size="2">
						<p class="date">
							<small>Jul 22</small>
							<br>2012</p>
					</ion-col>
					<ion-col size="4">
						<p class="vendor">XYX Company
							<br>
							<a>
								<small>View & Edit</small>
							</a>
						</p>
					</ion-col>
					<ion-col text-right>
						<div class="amount">$4,225.00</div>
					</ion-col>
					<ion-col size="1">
						<ion-button fill="clear">
							<img src="assets/imgs/down-arrow-gray.svg" alt="">
						</ion-button>
					</ion-col>
				</ion-row>

				<ion-row class="danger">
					<ion-col size="2">
						<p class="date">
							<small>Jul 22</small>
							<br>2012</p>
					</ion-col>
					<ion-col size="4">
						<p class="vendor">XYX Company
							<br>
							<a>
								<small>View & Edit</small>
							</a>
						</p>
					</ion-col>
					<ion-col text-right>
						<div class="amount">$4,225.00</div>
					</ion-col>
					<ion-col size="1">
						<ion-button fill="clear">
							<img src="assets/imgs/down-arrow-gray.svg" alt="">
						</ion-button>
					</ion-col>
				</ion-row>


				<ion-row class="danger">
					<ion-col size="2">
						<p class="date">
							<small>Jul 22</small>
							<br>2012</p>
					</ion-col>
					<ion-col size="4">
						<p class="vendor">XYX Company
							<br>
							<a>
								<small>View & Edit</small>
							</a>
						</p>
					</ion-col>
					<ion-col text-right>
						<div class="amount">$4,225.00</div>
					</ion-col>
					<ion-col size="1">
						<ion-button fill="clear">
							<img src="assets/imgs/down-arrow-gray.svg" alt="">
						</ion-button>
					</ion-col>
				</ion-row>

				<ion-row class="danger">
					<ion-col size="2">
						<p class="date">
							<small>Jul 22</small>
							<br>2012</p>
					</ion-col>
					<ion-col size="4">
						<p class="vendor">XYX Company
							<br>
							<a>
								<small>View & Edit</small>
							</a>
						</p>
					</ion-col>
					<ion-col text-right>
						<div class="amount">$4,225.00</div>
					</ion-col>
					<ion-col size="1">
						<ion-button fill="clear">
							<img src="assets/imgs/down-arrow-gray.svg" alt="">
						</ion-button>
					</ion-col>
				</ion-row>
				<ion-row class="danger">
					<ion-col size="2">
						<p class="date">
							<small>Jul 22</small>
							<br>2012</p>
					</ion-col>
					<ion-col size="4">
						<p class="vendor">XYX Company
							<br>
							<a>
								<small>View & Edit</small>
							</a>
						</p>
					</ion-col>
					<ion-col text-right>
						<div class="amount">$4,225.00</div>
					</ion-col>
					<ion-col size="1">
						<ion-button fill="clear">
							<img src="assets/imgs/down-arrow-gray.svg" alt="">
						</ion-button>
					</ion-col>
				</ion-row>


				<ion-row class="danger">
					<ion-col size="2">
						<p class="date">
							<small>Jul 22</small>
							<br>2012</p>
					</ion-col>
					<ion-col size="4">
						<p class="vendor">XYX Company
							<br>
							<a>
								<small>View & Edit</small>
							</a>
						</p>
					</ion-col>
					<ion-col text-right>
						<div class="amount">$4,225.00</div>
					</ion-col>
					<ion-col size="1">
						<ion-button fill="clear">
							<img src="assets/imgs/down-arrow-gray.svg" alt="">
						</ion-button>
					</ion-col>
				</ion-row>

				<ion-row class="danger">
					<ion-col size="2">
						<p class="date">
							<small>Jul 22</small>
							<br>2012</p>
					</ion-col>
					<ion-col size="4">
						<p class="vendor">XYX Company
							<br>
							<a>
								<small>View & Edit</small>
							</a>
						</p>
					</ion-col>
					<ion-col text-right>
						<div class="amount">$4,225.00</div>
					</ion-col>
					<ion-col size="1">
						<ion-button fill="clear">
							<img src="assets/imgs/down-arrow-gray.svg" alt="">
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>

	</div>
</ion-content>

<ion-footer no-border mode="md" overview>
	<ion-toolbar color="dark" mode="md">
		<ion-buttons slot="start">
			<ion-button class="gray">ALL</ion-button>
			<ion-button class="success">INCOME</ion-button>
			<ion-button class="danger">EXPENSES</ion-button>
		</ion-buttons>
		<ion-buttons slot="end" (click)="dblTapDoAccount()">
			<div class="bar-logo">
				<img src="assets/imgs/logo-small.svg" alt="">
			</div>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
