<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios" class="header-pettern-bg">
    <ion-row>
      <ion-col size="12">
        <ion-button button-success button-custom expand="block" no-outer-shadow text-uppercase routerLink="/add-income">
          <img src="assets/imgs/upload.svg" alt=""> UPLOAD YOUR FIRST RECEIPT</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>


  <ion-toolbar segment-toolbar color="dark" mode="ios">
    <ion-segment scrollable color="medium" [(ngModel)]="tabs" mode="ios">
      <ion-segment-button mode="ios" value="ledgers">
        Ledgers
      </ion-segment-button>
      <ion-segment-button mode="ios" value="snapcheck">
          Snap!Clerk
      </ion-segment-button>
      <ion-segment-button mode="ios" value="search">
        Search
      </ion-segment-button>
      <ion-segment-button mode="ios" value="logout">
        Logout
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngSwitch]="tabs">
    <div *ngSwitchCase="'ledgers'">
      <h1>Ledgers</h1>
    </div>

    <div *ngSwitchCase="'snapcheck'">
      <div class="snapcheck-content">
        <div class="image-onboard">
          <img src="assets/imgs/onboarding.png" alt="">
        </div>
        <div class="booton-container">
          <ion-button mode="ios" routerLink="/intro">GET STARTED now!</ion-button>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'search'">
      <h1>Search</h1>
    </div>

    <div *ngSwitchCase="'accounts'">
      <h1>Accounts</h1>
    </div>

  </div>
</ion-content>