<ion-content bggraypettern padding income snapclerk-upload>
	<h3 text-center header>
		<img src="assets/imgs/receipt-gray.png" alt="" />
		Upload Receipt
	</h3>

	<ion-list lines="none" login-form-list mode="ios">

		<ion-row llrm>
			<ion-col size="5">
				<ion-card (click)="doGetPhoto()">
					<ion-img [src]="photo" *ngIf="photo" preview></ion-img>
				</ion-card>

				<ion-button lightgray mode="ios" expand="block" add-receipt text-wrap button-custom no-outer-shadow (click)="doGetPhoto()" *ngIf="! photo">
					<span class="content">
						<img src="assets/imgs/camera-graphic.svg" alt="" />
						<br>
						Add receipt
					</span>
				</ion-button>
			</ion-col>

			<ion-col size="7">
				<p class="note">
					Just snap a photo of your receipt and we'll pull out the details.<br /> <br />
					<span>The receipt will be added to your ledger.</span>
				</p>
			</ion-col>

			<ion-col size="12">
				<div class="dropdown">
					<ion-item>
						<ion-label position="stacked">Category (optional)</ion-label>
						<ion-input type="text" [(ngModel)]="category" readonly></ion-input>
					</ion-item>
					<ion-button drop-down graygradiantbtn mode="ios" (click)="doCategorySelect()">
						<img src="assets/imgs/down-arrow-gray.svg" alt="">
					</ion-button>
				</div>
			</ion-col>

			<ion-col size="12">
				<ion-item>
					<ion-label position="stacked">Note (optional)</ion-label>
					<ion-textarea [(ngModel)]="note"></ion-textarea>
				</ion-item>
			</ion-col>

			<ion-col size="3">
				<ion-button button-dark expand="block" button-custom no-outer-shadow text-uppercase>
					<img src="assets/imgs/tags.svg" alt="">
				</ion-button>
				<p class="add-labels">Add Labels (optional)</p>
			</ion-col>

			<ion-col size="9">
				<ion-item>
					<ion-textarea placeholder="label 01, label 02, label 03..." [(ngModel)]="labels"></ion-textarea>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-list>

	<div class="button-container">
		<ion-button button-success button-custom expand="block" no-outer-shadow text-uppercase (click)="doSumbit()" routerLink="/" routerDirection="back">
			<img src="assets/imgs/upload.svg" alt="">
			Submit Receipt
		</ion-button>
	</div>
</ion-content>

<ion-footer no-border mode="md">
	<ion-toolbar color="dark" mode="md">
		<ion-buttons slot="start">
			<ion-button fill="clear" mode="ios" text-uppercase color="light" routerLink="/" routerDirection="back">« Cancel and go Back
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<div class="bar-logo">
				<img src="assets/imgs/logo-small.svg" alt="">
			</div>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
