page-create-account {
  .form-content {
    background: $dark;
    padding: 16px;
    box-shadow: $form_shadow;
    border-radius: 10px;
    h3 {
      color: $white;
      font-size: 3rem;
      padding: 1rem 0 .5rem;
      margin: 0;
      span {
        color: $link_color;
      }
    }
  }
}
