<ion-header mode="ios" no-border>
	<div [ngSwitch]="tabs">
		<ion-toolbar mode="ios" class="header-pettern-bg" *ngSwitchCase="'ledger'">
			<ion-row>
				<ion-col size="6">
					<ion-button button-success button-custom expand="block" no-outer-shadow text-uppercase routerLink="/ledger/add" [queryParams]="{type: 'income'}">
						<img src="assets/imgs/add-income-icon.svg" slot="start" alt=""> Add Income</ion-button>
				</ion-col>
				<ion-col size="6">
					<ion-button button-danger button-custom expand="block" no-outer-shadow text-uppercase routerLink="/ledger/add" [queryParams]="{type: 'expense'}">
						<img src="assets/imgs/add-expense-icon.svg" slot="start" alt=""> Add Expense</ion-button>
				</ion-col>
			</ion-row>
		</ion-toolbar>

		<ion-toolbar mode="ios" class="header-pettern-bg" *ngSwitchCase="'settings'">
			<ion-row>
				<ion-col size="6">
					<ion-button button-success button-custom expand="block" no-outer-shadow text-uppercase routerLink="/add-income">
						<img src="assets/imgs/add-income-icon.svg" slot="start" alt=""> Add Income</ion-button>
				</ion-col>
				<ion-col size="6">
					<ion-button button-danger button-custom expand="block" no-outer-shadow text-uppercase routerLink="/add-expense">
						<img src="assets/imgs/add-expense-icon.svg" slot="start" alt=""> Add Expense</ion-button>
				</ion-col>
			</ion-row>
		</ion-toolbar>

		<ion-toolbar mode="ios" class="header-pettern-bg" *ngSwitchCase="'snapclerk'">
			<ion-row>
				<ion-col size="12">
					<ion-button button-success button-custom expand="block" no-outer-shadow text-uppercase routerLink="/snapclerk/upload-receipt">
						<img src="assets/imgs/upload.svg" alt=""> Upload New Receipt</ion-button>
				</ion-col>
			</ion-row>
		</ion-toolbar>

		<ion-toolbar mode="ios" class="header-pettern-bg" *ngSwitchCase="'search'">
			<ion-item custom-input-search lines="none">
				<ion-input type="text" placeholder="Search..." [(ngModel)]="ledgersSearchTerm"></ion-input>
				<ion-button slot="end" drop-down graygradiantbtn mode="ios" (click)="doLedgerSearch()">
					<img src="assets/imgs/search.svg" alt="">
				</ion-button>
			</ion-item>
		</ion-toolbar>

	</div>

	<ion-toolbar segment-toolbar color="dark" mode="ios">
		<ion-segment scrollable color="medium" mode="ios" [(ngModel)]="tabs">
			<ion-segment-button mode="ios" value="ledger" (click)="doLedgerTabClick()">
				Ledger
			</ion-segment-button>

			<ion-segment-button mode="ios" value="snapclerk">
				Snap!Clerk
			</ion-segment-button>

			<ion-segment-button mode="ios" value="search">
				Search
			</ion-segment-button>

			<ion-segment-button mode="ios" value="settings">
				Settings
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>


<ion-content>

	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" *ngIf="(tabs == 'ledger') || (tabs == 'snapclerk')">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>

	<div [ngSwitch]="tabs">

		<!-- ledger -->
		<div *ngSwitchCase="'ledger'" class="ledgers" [ngClass]="{ 'small-padding': (activeTableHeader == 'account') }">

			<ion-row>
				<ion-col>

				</ion-col>
			</ion-row>


			<ion-grid tableViewGrid>

				<app-home-account-header *ngIf="activeTableHeader == 'account'" (toggleHeader)="doLegerTableHeaderChange($event)" (accountChange)="doAccountChange($event)" [me]="me" [account]="account"></app-home-account-header>

				<app-ledger-list-header *ngIf="activeTableHeader == 'cols'" (toggleHeader)="doLegerTableHeaderChange($event)"></app-ledger-list-header>

				<div class="scroll-tabel-content" [ngClass]="{ 'small-padding': (activeTableHeader == 'account') }">
					<app-ledger-list [ledgers]="ledgers" [lastPage]="ledgerLastPage" (loadMore)="loadMoreLedgers($event)"></app-ledger-list>
				</div>

				<ion-row class="footer" *ngIf="pnl.Year > 0">
					<ion-col col-7>
						<p text-uppercase>{{ pnl.Year }} Profit & Loss</p>
					</ion-col>

					<ion-col text-right>
						<p class="total-amount">
							<span *ngIf="pnl.Value > 0">+</span>
							{{ pnl.Value | currency:'USD':true:'1.0-0' }}
						</p>
					</ion-col>
				</ion-row>

			</ion-grid>
		</div>

		<!-- snapclerk -->
		<div *ngSwitchCase="'snapclerk'" snapclerk>
			<ion-list lines="full" mode="ios">

				<ion-grid tableViewGrid>
					<app-home-account-header (accountChange)="doAccountChange($event)" [me]="me" [account]="account"></app-home-account-header>

					<app-snapclerk-list [snapclerks]="snapclerks" [lastPage]="snapClerkLastPage" (loadMore)="loadMoreSnapClerks($event)"></app-snapclerk-list>
				</ion-grid>

			</ion-list>
		</div>

		<!-- search -->
		<div *ngSwitchCase="'search'">
			<div class="search-result" text-center *ngIf="ledgersSearch.length">
				Your Search Results for
				<p>“{{ ledgersSearch }}”</p>
			</div>

			<ion-grid search tableViewGrid>
				<app-home-account-header *ngIf="activeTableHeader == 'account'" (toggleHeader)="doLegerTableHeaderChange($event)" (accountChange)="doAccountChange($event)" [me]="me" [account]="account"></app-home-account-header>

				<app-ledger-list-header *ngIf="activeTableHeader == 'cols'" (toggleHeader)="doLegerTableHeaderChange($event)"></app-ledger-list-header>

				<app-ledger-list [ledgers]="ledgers" [lastPage]="ledgerLastPage" (loadMore)="loadMoreLedgers($event)"></app-ledger-list>
			</ion-grid>

		</div>

		<!-- settings -->
		<div *ngSwitchCase="'settings'">
			<app-settings></app-settings>
		</div>

	</div>
</ion-content>

<ion-footer no-border mode="md" overview>
	<ion-toolbar color="dark" mode="md">
		<ion-buttons slot="start">
			<ion-button class="gray" (click)="doLedgerType('')">ALL</ion-button>
			<ion-button class="success" (click)="doLedgerType('income')">INCOME</ion-button>
			<ion-button class="danger" (click)="doLedgerType('expense')">EXPENSES</ion-button>
		</ion-buttons>
		<ion-buttons slot="end" (click)="doFooterLogoClick()">
			<div class="bar-logo">
				<img src="assets/imgs/logo-small.svg" alt="">
			</div>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
