<ion-header mode="ios" no-border>
	<div [ngSwitch]="tabs">
		<ion-toolbar mode="ios" class="header-pettern-bg" *ngSwitchCase="'ledger'">
			<ion-row>
				<ion-col size="6">
					<ion-button button-success button-custom expand="block" no-outer-shadow text-uppercase routerLink="/add-income">
						<img src="assets/imgs/add-income-icon.svg" slot="start" alt=""> Add Income</ion-button>
				</ion-col>
				<ion-col size="6">
					<ion-button button-danger button-custom expand="block" no-outer-shadow text-uppercase routerLink="/add-expense">
						<img src="assets/imgs/add-expense-icon.svg" slot="start" alt=""> Add Expense</ion-button>
				</ion-col>
			</ion-row>
		</ion-toolbar>

		<ion-toolbar mode="ios" class="header-pettern-bg" *ngSwitchCase="'settings'">
			<ion-row>
				<ion-col size="6">
					<ion-button button-success button-custom expand="block" no-outer-shadow text-uppercase routerLink="/add-income">
						<img src="assets/imgs/add-income-icon.svg" slot="start" alt=""> Add Income</ion-button>
				</ion-col>
				<ion-col size="6">
					<ion-button button-danger button-custom expand="block" no-outer-shadow text-uppercase routerLink="/add-expense">
						<img src="assets/imgs/add-expense-icon.svg" slot="start" alt=""> Add Expense</ion-button>
				</ion-col>
			</ion-row>
		</ion-toolbar>

		<ion-toolbar mode="ios" class="header-pettern-bg" *ngSwitchCase="'snapclerk'">
			<ion-row>
				<ion-col size="12">
					<ion-button button-success button-custom expand="block" no-outer-shadow text-uppercase routerLink="/upload-receipt">
						<img src="assets/imgs/upload.svg" alt=""> Upload New Receipt</ion-button>
				</ion-col>
			</ion-row>
		</ion-toolbar>

		<ion-toolbar mode="ios" class="header-pettern-bg" *ngSwitchCase="'search'">
			<ion-item custom-input-search lines="none">
				<ion-input type="text" placeholder="Search SkyClerk"></ion-input>
				<ion-button slot="end" drop-down graygradiantbtn mode="ios">
					<img src="assets/imgs/search.svg" alt="">
				</ion-button>
			</ion-item>
		</ion-toolbar>

	</div>

	<ion-toolbar segment-toolbar color="dark" mode="ios">
		<ion-segment scrollable color="medium" mode="ios" [(ngModel)]="tabs">
			<ion-segment-button mode="ios" value="ledger">
				Ledger
			</ion-segment-button>

			<ion-segment-button mode="ios" value="snapclerk">
				Snap!Clerk
			</ion-segment-button>

			<ion-segment-button mode="ios" value="search">
				Search
			</ion-segment-button>

			<ion-segment-button mode="ios" value="settings">
				Settings
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>


<ion-content>

	<div [ngSwitch]="tabs">

		<!-- ledger -->
		<div *ngSwitchCase="'ledger'" class="ledgers" [ngClass]="{ 'small-padding': (activeTableHeader == 'account') }">
			<ion-grid tableViewGrid>

				<app-home-account-header *ngIf="activeTableHeader == 'account'" (toggleHeader)="doLegerTableHeaderChange($event)" (accountChange)="doAccountChange($event)" [me]="me" [account]="account"></app-home-account-header>

				<app-ledger-list-header *ngIf="activeTableHeader == 'cols'" (toggleHeader)="doLegerTableHeaderChange($event)"></app-ledger-list-header>

				<div class="scroll-tabel-content" [ngClass]="{ 'small-padding': (activeTableHeader == 'account') }">
					<app-ledger-list [ledgers]="ledgers"></app-ledger-list>
				</div>

				<ion-row class="footer">
					<ion-col col-7>
						<p text-uppercase>2012 Profit & Loss</p>
					</ion-col>

					<ion-col text-right>
						<p class="total-amount">+ $25,191.07</p>
					</ion-col>
				</ion-row>

			</ion-grid>
		</div>

		<!-- snapclerk -->
		<div *ngSwitchCase="'snapclerk'">
			<ion-list lines="full" mode="ios">
				<ion-grid search tableViewGrid>
					<app-home-account-header (accountChange)="doAccountChange($event)" [me]="me" [account]="account"></app-home-account-header>
				</ion-grid>

				<ion-item *ngFor="let r of receipts" mode="ios">
					<ion-thumbnail slot="start">
						<img src="assets/imgs/{{r.img}}">
					</ion-thumbnail>
					<ion-label slot="start" class="date">
						<strong>{{r.dm}}</strong> <br>
						{{r.year}}
					</ion-label>
					<ion-label>
						<h2>{{r.title}}</h2>
						<p>{{r.cate}}</p>
					</ion-label>
					<ion-button mode="ios" size="small" color="success" slot="end">Processed</ion-button>
				</ion-item>
			</ion-list>
		</div>

		<!-- search -->
		<div *ngSwitchCase="'search'">
			<div class="search-result" text-center>
				Your Search Results for
				<p>“Office”</p>
			</div>

			<ion-grid search tableViewGrid>
				<app-home-account-header *ngIf="activeTableHeader == 'account'" (toggleHeader)="doLegerTableHeaderChange($event)" (accountChange)="doAccountChange($event)" [me]="me" [account]="account"></app-home-account-header>

				<app-ledger-list-header *ngIf="activeTableHeader == 'cols'" (toggleHeader)="doLegerTableHeaderChange($event)"></app-ledger-list-header>

				<app-ledger-list [ledgers]="ledgers"></app-ledger-list>
			</ion-grid>

		</div>

		<!-- settings -->
		<div *ngSwitchCase="'settings'">
			<app-settings></app-settings>
		</div>

	</div>
</ion-content>

<ion-footer no-border mode="md" overview>
	<ion-toolbar color="dark" mode="md">
		<ion-buttons slot="start">
			<ion-button class="gray">ALL</ion-button>
			<ion-button class="success">INCOME</ion-button>
			<ion-button class="danger">EXPENSES</ion-button>
		</ion-buttons>
		<ion-buttons slot="end" (click)="doFooterLogoClick()">
			<div class="bar-logo">
				<img src="assets/imgs/logo-small.svg" alt="">
			</div>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
